.profile {
  background-color: #fafafa;
  height: 90vh;
}

.profile__container {
  max-width: 410px;
  margin: 0 auto;
  padding: 74px 0 70px 0;
}

.profile__title {
  color: #000;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.profile__form {
  margin-top: 123px;
}

.profile__input-container {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  padding-bottom: 16px;
  justify-content: space-between;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input-container:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.profile__inscription {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
}

.profile__input {
  text-align: end;
  background-color: #fafafa;
  border: none;
  color: #000;
  font-size: 11px;
  font-weight: 400;
  outline: none;
}

.profile__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset !important;
}

.profile__button-edit {
  background-color: #fafafa;
  margin-top: 205px;
  padding: 0;
  width: 100%;
  cursor: pointer;
  border: none;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.2s ease, color;
}

.profile__button-edit:hover {
  opacity: 0.7;
}

.profile__button-exit {
  display: inline-block;
  background-color: #fafafa;
  margin-top: 16px;
  padding: 0;
  width: 100%;
  cursor: pointer;
  border: none;
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.2s ease, color;
}

.profile__button-exit:hover {
  opacity: 0.7;
}

.profile__button-save {
  background-color: #3456f3;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  width: 100%;
  transition: opacity 0.2s ease, color;
}

.profile__button-save:hover {
  opacity: 0.8;
}

.profile__button-save:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

.profile__button-save:disabled:hover {
  opacity: 1;
}

.profile__error {
  margin-top: 6px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  display: block;
  height: 24px;
}

.profile__button-container {
  margin-top: 131px;
}

.profile__submit-error {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  display: block;
  text-align: center;
  height: 24px;
}

.profile__submit-success {
  color: #3456f3;
  font-size: 10px;
  font-weight: 400;
  display: block;
  text-align: center;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .profile {
    height: auto;
  }

  .profile__container {
    padding: 236px 0 269px 0;
  }

  .profile__form {
    margin-top: 96px;
  }

  .profile__button-edit {
    margin-top: 194px;
  }
}

@media screen and (max-width: 450px) {
  .profile__container {
    padding: 70px 30px 40px 30px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__button-edit {
    margin-top: 362px;
    font-size: 12px;
  }

  .profile__button-exit {
    font-size: 12px;
  }
}
